.btn-publicacion{
    background-color: #02be6e !important;
    border-color: #02be6e !important;
    font-size: 1rem !important;
    border-radius: 3% !important;

    

}

h3{
    margin: 2rem !important;
}